// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Stalemate);
@import url(https://fonts.googleapis.com/css?family=Amiri);


// Imports
//@import "compass";
@import "partials/typography";
@import "partials/buttons";
@import "partials/colors";
@import "partials/timeline";

$section-padding: 40px 0;

/* ==========================================================================
Global Styles
========================================================================== */
.group:after {
  content: "";
  display: table;
  clear: both;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
a {
  color: $accent-color;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
}
a:hover, a:focus {
  color: $accent-color-hover;
  text-decoration: none;
}
body {
  font-family: $sans-serif;
  font-weight: $light;
  color: $txt-primary;
  -webkit-text-size-adjust: 100%;
  //fix for iOS
}
*:focus {
  outline: none !important;
}
ul, ol {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
section .header {
  padding: 0 0 30px;
}
section:not(.hero) {
	border-top: 1px solid #E6E9EA;
}
.section-padding {
  padding: $section-padding;
}
.section-padding-top {
  padding: $section-padding 0 0;
}
.section-border {
  border-bottom: 1px solid $keyline-color;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #000;
  border-radius: 4px;
}
/* ==========================================================================
Animations
========================================================================== */
.pulse2 {
  animation-name: pulse2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes pulse2 {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.floating-arrow {
  animation-name: floating-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating-arrow {
  from {
    transform: translate(-50%, 0)
  }
  65% {
    transform: translate(-50%, 15px)
  }
  to {
    transform: translate(-50%, 0)
  }
}
.floating-logo {
  animation-name: floating-logo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating-logo {
  from {
    transform: translate(-50%, 0)
  }
  50% {
    transform: translate(-50%, 10px)
  }
  to {
    transform: translate(-50%, 0)
  }
}

/* ==========================================================================
Waypoinsts
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6, .wp7, .wp8, .wp9 {
  visibility: hidden
}
.wp8, .wp9 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s
}
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
  visibility: visible
}

/* ==========================================================================
Navigation
========================================================================== */
.header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.nav-toggle {
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer
}
.nav-toggle:focus {
  outline: none
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: #000;
  cursor: pointer
}
.nav-toggle span:before {
  top: -10px
}
.nav-toggle span:after {
  bottom: -10px
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out
}
.nav-toggle.active span {
  background-color: transparent
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0
}
.nav-toggle.active span:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.nav-toggle.active span:after {
  top: 10px;
  -moz-transform: translatey(-10px) rotate(-45deg);
  -ms-transform: translatey(-10px) rotate(-45deg);
  -o-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg)
}
.navicon {
  position: absolute;
  height: 26px;
  left: 10px;
  top: 48px;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}

/* ==========================================================================
Hero
========================================================================== */
.hero {
  height: 100vh;
  background: url('../img/IMG_0238.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

  /*.rsvp-btn {
    position: absolute;
    bottom: 100px;
    left: 50%;
  }*/
  .down-arrow a {
    color: $txt-light;
  }
  h1 {
    color: $txt-light;
    font-family: 'Stalemate', cursive;
    font-size: 180px;
    line-height: 100px;
    margin: 0;
    text-shadow:-1px -1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,1px 1px 0 #000;
    font-weight: bold;
  }
  h3 {
    color: $txt-light;
    margin-top: 0;
    text-shadow:-1px -1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,1px 1px 0 #000;
  }
  p.intro {
    color: $txt-light;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px;
  }
  .hero-content {
    position: absolute;
    bottom: 80px;
    transform: translateX(-50%);
    left: 50%;
    padding: 0;
    min-width: 400px;
  }
}
.navigation {
  transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.fixed {
  position: fixed;
  background-color:rgba(17,17,17,0.5);
  z-index: 999;
  width: 100%;

  header {
    border-bottom: none;
    padding: 35px 0;
  }

  .member-actions {
    top: 26px;
  }

  .navicon {
    top: 24px;
  }

  .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    background: #fff;
  }
  header ul.primary-nav li a {
    color: $txt-light;
    font-weight: normal;
    font-size: 13px;


    &:hover {
      color: $accent-color;
    }
  }
}
header {
  padding: 50px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  position: relative;
  width: 1170px;
  margin: 0 auto;
  transition: padding 300ms ease-in-out;

  a {
    color: $txt-light;
    text-transform: uppercase;
    font-size: $nav-font-size;

    &.login {
      margin-right: 20px;
    }
  }
  .logo {
    display: inline-block;
  }
  .logo img {
    height: 19px;
  }
  ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0;

    li {
      display: inline;

      a {
        color: $accent-color;
        padding-right: 25px;
        font-size: 16px;
        font-weight: 600;

        &:hover {
          color: $accent-color-hover;
        }
      }
      &:last-child a {
        padding-right: 0px;
      }
    }
  }
  .header-nav {
    display: inline-block;
  }
  .member-actions {
    position: absolute;
    right: 0;
    top: 41px;
    transition: all 300ms ease-in-out;
    li {
      display: inline;
    }
  }

  .navicon {
    top: 48px;
  }
}
.down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

/* ==========================================================================
Timeline
========================================================================== */

.timeline__content {
  h5 {
    margin: 5px 0;
  }
}
.timeline-date {
  font-weight: bold;
}


/* ==========================================================================
Instagram
========================================================================== */
#instagram {
  img {
    width: 100%;
  }
}


/* ==========================================================================
Embed video
========================================================================== */
#video-bg {
  height: 300px;
}
#video-content {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  position: relative;
  background: rgba(17, 17, 17, 0.5);
  text-align: center;
}
#video-content h5 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 10px;
}
#video-content p {
  color: #ffffff;
}

/* ==========================================================================
Google map
========================================================================== */
#map-canvas {
  height: 500px;
  width: 100%;
}
.map-container {
  position: relative;
}
#map-content-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
#map-content {
  margin-top: 40px;
  padding: 50px 60px;
  background: #fff;
  -webkit-transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
  transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
  h4 {
    margin-bottom: 20px;
  }
  p {
    margin: 0;
  }
}
#btn-show-content {
  padding: 20px;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
  transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
}
.toggle-map-content {
  opacity: 0;
  visibility: hidden;
}
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}

/* ==========================================================================
RSVP form
========================================================================== */
.rsvp {
  padding-bottom: 140px;
  .attending-select {
    opacity: 1;
    transition: opacity .5s ease-in-out;
  }
  .attending-box {
    min-height: 30px;
    display: block;
    background: $accent-color;
    color: $white-color;
    line-height: 70px;
    border-radius: 40px;
    @media only screen and (max-width: 768px) {
      margin-bottom: 15px;
    }
    svg {
      display: none;
      width: 30px;
      vertical-align: middle;
      margin-right: 10px;
      margin-left: -44px;
    }
    .path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 0;
      &.circle {
        -webkit-animation: dash .9s ease-in-out;
        animation: dash .9s ease-in-out;
      }
      &.line {
        stroke-dashoffset: 1000;
        -webkit-animation: dash .9s .35s ease-in-out forwards;
        animation: dash .9s .35s ease-in-out forwards;
      }
      &.check {
        stroke-dashoffset: -100;
        -webkit-animation: dash-check .9s .35s ease-in-out forwards;
        animation: dash-check .9s .35s ease-in-out forwards;
      }
    }

    &:hover {
      background-color: $accent-color-hover;
    }
    &.active {
      background: $accent-color-hover;
      svg {
        display: inline-block;
      }
    }
  }
  .rsvp-form {
    transition: opacity .5s ease-in-out;
    margin-top: 50px;
    &.fade {
      opacity: 0;
      position: absolute;
      top: -100%;
    }
    .rsvp-btn {
      padding: 15px 0;
      border-radius: 40px;
      width: 100%;
      font-size: 13px;

      &.disable {
        pointer-events: none;
      }
    }
    .form-input-group {
      width: 100%;
      height: 55px;
      margin: 0 auto 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: solid 1px $keyline-color;
      text-align: left;
      position: relative;
      transition: opacity .5s ease-in-out;
      opacity: 1;

      @media only screen and (max-width: 768px) {
        transition: height .5s ease-in-out;
      }
      &.fade {
        opacity: 0;
        @media only screen and (max-width: 768px) {
          height: 0;
        }
      }

      i {
        color: $accent-color;
        font-size: 14px;
      }
      i:after {
        content: "";
        height: 30px;
        width: 1px;
        border-right: solid 1px $keyline-color;
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
      }
      i.fa-user, i.fa-users, i.fa-envelope, .fa-key, .fa-music, .fa-cutlery {
        font-size: 14px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 20px;
      }
      input {
        padding-left: 68px;
        width: 100%;
        height: 100%;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: none;
      }
      input::-webkit-input-placeholder {
        color: $form-placeholder;
      }
      input:-moz-placeholder {
        color: $form-placeholder;
      }
      input::-moz-placeholder {
        color: $form-placeholder;
      }
      input:-ms-input-placeholder {
        color: $form-placeholder;
      }
    }
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

#registry {
  img {
    max-width: 400px;
    width: 100%;
  }
}
/* ==========================================================================
Footer
========================================================================== */
footer {
  margin-top: 10px;
  .content {
    border-top: 1px solid $keyline-color;
    padding-bottom: 20px;
  }
  .to-top-wrapper {
    font-size: 30px;
    display: block;
    cursor: pointer;
    margin: -25px auto 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid $keyline-color;
    background: #fff;
  }
  .to-top-wrapper .to-top {
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .to-top-wrapper .to-top:hover {
    margin-top: -5px;
  }
  span.fa-heart {
    font-size: 18px;
    margin: 0 2px;
  }
}

/* ==========================================================================
Bootstrap override
========================================================================== */
body.modal-open {
  padding-right:0 !important;
}
.modal-body {
  padding:25px;
}


/* ==========================================================================
gallery
========================================================================== */

  .byebye {
    opacity: 0;
  }
  .byebye:hover {
    transform: scale(0.2) !important;
  }
  .gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 8px;
  }
  .gallery img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
  }
  .gallery .content {
    padding: 4px;
  }
  .gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
  }
  @media (max-width: 640px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
  }
  @media (max-width: 400px) {
    
  }