// Colours partial

// Text colours
$txt-primary: #000;
// body font
$txt-secondary: #333333;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: $txt-secondary;
// form placeholder text
// Global colours
$accent-color: #333333;
// global accent colour
$accent-color-hover: #000;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #495061;
$footer-primary: #333333;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;

$rsvp-color: #E0AFA0;